
.lottery {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.lottoball {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/lotto-ball.png');
    width:70px;
    height:70px;
    font-size: 1em;
    color: var(--black);
}

.tooltip {
    position: relative;
    cursor: help;
    font-size: 5em;
    /* color: var(--secondary-color); */
    font-weight: 700;  
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 250px;
    background-color: red;
    color: black;
    font-weight: 600;
    text-align: left;
    padding: 0.5em;
    border-radius: 5px;
    position: absolute;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    transition: opacity 0.3s ease;
    z-index: 10;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.quadrat {
    margin: 2em;
    width: 20px;
    height: 20px;
    background-color: var( --additional1-color)
} 