:root {
    --primary-color: #d3d3d3;
    --secondary-color: #efefec;
    --additional1-color: #000;
    --additional2-color: #ff7b00;
    --additional3-color: #fcfcf5;
    --additional4-color:  url('../img/noise_lines.webp');
    --white:  #fff;
    --black:  #000;

    --body-background: var(--primary-color);
    --wrapper-background: var(--secondary-color);
    --button-background: var(--additional1-color);
    --button-background-hover: var(--additional2-color);
    --details-background: var(--additional4-color);

    --details-color: var(--additional1-color);
    --summary-color: var(--additional1-color);
    --summary-color-hover: var(--additional2-color);
    --button-color: var(--secondary-color);
    --button-color-hover: var(--additional3-color);
    --footer-a-color: var(--additional2-color);
    --footer-a-color-hover: var(--additional1-color);
    --results-textcolor: var(--additional1-color);

    --nav-li-background: var(--additional1-color);
    --nav-li-background-hover: var(--additional2-color);
    --nav-li-background-active:  var(--secondary-color);
    --nav-a-color: var(--white);
    --nav-a-color-hover: var(--white);
    --nav-a-color-active: var(--additional-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Galdeano;
    src: url('/fonts/Galdeano-Regular.woff2') format('woff2'),
        url('/fonts/Galdeano-Regular.ttf') format('ttf');
        font-display: swap;
}

body {
    background-color: var(--body-background);
    background-image: url('../img/45degreee_fabric.webp');
    line-height: 1.4;
    font-family: Galdeano, sans-serif;
}

body[data-theme="2"] {
    --primary-color: #d3d3d3;
    --secondary-color: #20201d;
    --additional1-color: #ffa600;
    --additional2-color: #d5d3d3;
    --additional3-color: #fcfcf5;
    --additional4-color: #000;
    --additional5-color: #ff7b00;
    --additional6-color: linear-gradient(to right, #2e2e2c, #2e2e2c, #464545, #2e2e2c);
    --additional7-color:  url('../img/micro_carbon.png');

    --body-background: var(--primary-color);
    --wrapper-background: var(--additional7-color);
    --button-background: var(--additional1-color);
    --button-background-hover: var(--additional5-color);
    --details-background: var(---additional7-color);

    
    --details-color: var(--additional3-color);
    --summary-color: var(--additional1-color);
    --summary-color-hover: var(--additional3-color);
    --button-color: var(--additional3-color);
    --button-color-hover: var(--additional3-color);
    --footer-a-color: var(--additional1-color);
    --footer-a-color-hover: var(--additional3-color);
    --results-textcolor: var(--additional3-color);

    --nav-li-background: var(--additional1-color);
    --nav-li-background-hover: var(--additional5-color);
    --nav-li-background-active: var(--additional4-color); 
    --nav-a-color: var(--white);
    --nav-a-color-hover: var(--white);
    --nav-a-color-active: var(--additional2-color);
}

body[data-theme="2"] .theme-button::before {
    transform: translateX(30px);
}

.wrapper {
    max-width: 700px;
    height: auto;
    margin: 2% auto;
}

nav ul {
    display: flex;
    margin-left: 2em;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 120px;
    min-height: 44px;
    margin-right: 0.5em;
    padding: 0.2em;

    list-style: none;

    background-color: var(--nav-li-background);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px rgb(86, 85, 85);

    transition: 0.3s;
}

nav li:hover {
    padding-bottom: 0.6em;
    background-color: var(--nav-li-background-hover);
    transform: scaleY(1.6);
}

nav li.active {
    background-color: var(--nav-li-background-active);
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-decoration: none;
    text-transform:uppercase;
    font-size: 1em;
    font-weight: 600;

    color: var(--nav-a-color);

    transform: scale(1);
    transition: 0.3s;
}

li:hover a, li.active:hover a{
    transform: scaleY(calc(1 / 1.6))
}

li.active a {
    color: var(--nav-a-color-active);
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;

    position: relative;
    padding: 2em;

    background: var(--wrapper-background);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.642);
}

article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form {
    text-align: center;
}

input, button {
    min-height: 30px;
    padding: 0.3em;

    border: 1px solid var(--primary-color);
    border-radius: 5px;
    
    font-family:  'Galdeano';
    font-weight: 600;
    font-size: 1.3em;
}

.klein__input {
    width: 100px;
}

.normal__input {
    width: 200px;
}

::placeholder {
    font-size: 0.8em;
}

form button {
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--button-color);
    min-width: 170px;
    transition: 0.5s;
}

button:hover {
    background: var(--button-background-hover);
    color: var(--button-color-hover);
}

.flex-row {
    display: flex;
    align-items: center;
    gap:0.5em;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.result {
    margin: 0em;
    color: var(--results-textcolor);
    font-size: 1.2em;
    word-wrap: break-word;
}

.result img {
    float: left;
    width: 60%;
    border-radius: 10px;
    margin: 0.5em;
}

.result ul {
    margin: 0.5em;
    padding: 2em;
    font-size: 0.8em;
    list-style: none;
}

.clear {
    clear: both;
}

details {
    background: var(--details-background);
    word-wrap: break-word;
    padding: 0.5em;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    color: var(--details-color);
    
}

summary {
    color: var(--summary-color);
    padding-left: 1em;
    transition: 0.5s;
}

summary:hover {
    color:var(--summary-color-hover);
    text-decoration:underline;
}

.code_link a {
    color: var(--footer-a-color);
    transition: 0.5s;
}

.code_link a:hover {
    color: var(--footer-a-color-hover);
}

.wrap {
    flex-wrap: wrap;
}

.toggler-container {
    position: absolute;
    top:0;
    right: -80px;
}

.theme-button {
    width: 60px;
    height: 30px;
    background-color: gray;
    border: none;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.theme-button::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}


@media (max-width: 700px) {
    .wrapper {
        width: auto;
        padding: 1em;
    }

    .toggler-container {
        display: none;
    }

    input, button, .result {
        font-size: 1em;
    }

    button {
        width: 8em;
    }
}