@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary-color: #d3d3d3;
    --secondary-color: #efefec;
    --additional1-color: #000;
    --additional2-color: #ffa600;
    --additional3-color: #fcfcf5;

    --body-background: var(--primary-color);
    --wrapper-background: var(--secondary-color);
    --button-background: var(--additional1-color);
    --button-background-hover: var(--additional2-color);
    --details-background: var(--additional3-color);

    --summary-color: var(--additional2-color);
    --footer-a-color: var(--additional2-color);
    --footer-a-color-hover: var(--additional1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
    background-image: url('noise_lines.webp');
    line-height: 1.4;
    font-family:  'Sour Gummy';
}

.wrapper {
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2% auto;
    padding: 2em;
    background-color: var(--wrapper-background);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.642);
}

article {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form {
    text-align: center;
}

input, button {
    min-height: 30px;
    padding: 0.3em;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-family:  'Sour Gummy';
    font-size: 1.5em;
}

.klein__input {
    width: 100px;
}

.normal__input {
    width: 200px;
}

::placeholder {
    font-size: 0.8em;
}

button {
    cursor: pointer;
    background-color: var(--button-background);
    color: #fff;
    width: 170px;
    transition: 0.5s;
}

button:hover {
    background-color: var(--button-background-hover);
    color: black;

}

.flex-row {
    display: flex;
    align-items: center;
    gap:1em;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.result {
    margin: 0em;
    font-size: 1.3em;
}

details {
    background-color: var(--details-background);
    word-wrap: break-word;
    padding: 0.5em;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

summary {
    color: var(--summary-color);
}

footer a {
    color: var(--footer-a-color);
    transition: 0.5s;
}

footer a:hover {
    color: var(--footer-a-color-hover);
}

.wrap {
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .wrapper {
        width: auto;
        padding: 1em;
    }

    input, button, .result {
        font-size: 1em;
    }

    button {
        width: 120px;
    }
}